.avatar img{
    width: 45px;
    height:45px;
    border-radius: 50%;
}

.name {
    font-size: 14px;
    margin-right: 100px;
}

.message {
    font-size: 14px;
}

.time {
    font-size: 10px;
}

.middle {
    background-color: #fff;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    box-shadow: rgba(0,0,0,10%) -2.5px 2.5px 2.5px
}

.chat  {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.space {
    display: flex;
    justify-content: space-between;
}