.sidebar {
     height: calc(100vh - 40px);
     width: 100px;
     border-top-left-radius: 30px;
     border-bottom-left-radius: 30px;
}

.iconList li {
    margin-bottom: 30px;
}

.icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: all .3s;
}

.icon:hover {
    color: rgb(190, 230, 190);
}


.icon.active {
    color: rgb(190, 230, 190);
}
  


  
  